.tag1 {
	font-size: 14pt; 
	color: red;
}

.tag2 {
	font-weight: bold;
	font-size: 17pt; 
	color: red;
}

.tag3 {
	font-size: 14pt; 
	color: green;
}

.tag4 {
	font-weight: bold;
	color: yellow;
}

.question {
	border: solid 1px #8B8989; 
	padding: 3px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.questiontext {
	min-height: 100px;
}