<!DOCTYPE html>
<html>
<head> 
	{% load staticfiles %}
	{% load custom_tags %}	
	<meta content="text/html"/>
	<link rel="stylesheet" type="text/css" href = "{% static 'bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href = "{% static 'my.css' %}" />
</head>

<body>
		<div class="container">
    		<div class="row">
				<div class = "navbar">
					<div class = "navbar-inner">
						<div class = "container">
							<a class = "brand" href="/"> AskMe </a>
							<form class="navbar-search pull-left">
								<input type="text" class="search-query" placeholder="Search">
							</form>									
							<ul class="nav pull-right">
								{% if user.is_authenticated %}
								<li><img class = "img-rounded" style = "margin: 5px" src="{{user.profile.avatar.url}}" heigth="30" width="30" alt=""/></li>								
								<li> <p class="nav navbar-text" style="font-size: 12pt">{{user.username}}</p> </li> 
								{% endif %}		
								<li class="divider-vertical"></li>	
								{% if user.is_authenticated %}
								<li> <a href="/profile">Settings</a> </li>
								<li> <a href="/logout">Log out</a> </li>
								{% else %}		
				 				<li> <a href="/login">Log in</a> </li>
				 				<li> <a href="/registration/signup">Sign up</a> </li>
				 				{% endif %}
								<li style="display: none"> <a href="#">Register</a> </li>
							</ul>
							{% if user.is_authenticated %}
							<a href="/ask_question" class="btn btn-primary pull-right">ASK!</a>	
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>

	<div class="container">
		<div class="row">
			<div class="span8">
			{% block content %}{% endblock %}
			</div>		
			<div class="span3 offset1">
				<div>
					{% get_popular_tags %}
					<!--
						<h2>Popular Tags</h2>
						<p>
							perl <span class="tag1">python</span> TechnoPark <br> <br>
							<span class="tag2">MySQL</span> <span class="tag3">django</span> <br> <br>
							Mail.ru Voloshin <span class="tag4">Firefox</span> 
						</p>
					!-->
				</div>
				<div>		
					{% get_best_members %} 
					<!--
					<h2>Best Members</h2>			
					<ul style="list-style:none">			
						<li> <a>Bob Dylan</a> </li>
						<li> <a>Neil Young</a> </li>
						<li> <a>Johnny Cash</a> </li>
						<li> <a>Tom Waits</a> </li>
					</ul>
					!-->
				</div>
			</div>		
		</div>
	</div>

<script type="text/javascript" src="{% static "jquery.js" %}"> </script>
{% block foot %}
{% endblock %}
</body>
</html>